:root {
    --text-color: #000000;
    --accent-color: #D0B194;
    --lite-border-color: rgba(176, 143, 112, 0.6);

    --main-font: "Roboto Condensed", sans-serif;
    --second-font: "Source Sans 3", sans-serif;
    
}

