.accent-button {
    font-family: var(--second-font);
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: var(--accent-color);
    transition: color 250ms ease;
}

.accent-button:hover {
    color: black;
}

